<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block css %}<link rel="stylesheet" type="text/css" href="{% static 'home/index_style.css' %}">{% endblock %}
    {% block title %}<title>Tumble - Social bookmarking for millennials</title>{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="bodyWrapper">
        <h3 id="appName" class="text-center">tumble</h3><br>
        <p id="appDesc">Social bookmarking for the modern era</p>
        {% block body %}
          <form class="signUpForm" action="{% url 'sign_up' %}" method="POST">{% csrf_token %}
            <h3 class="formTitle">Sign Up</h3>
            <label class="formLabel">Username</label>
            <input name="username" type="text" class="form-control" required>
            <label class="formLabel">Email</label>
            <input name="email" type="email" class="form-control" required>
            <label class="formLabel">Password: min of 6 chars</label>
            <input name="password" type="password" class="form-control" required>
            <button id="submitButton" type="submit" class="btn btn-default">Sign up</button>
          </form>
          <h3 id="logInText">Already have an account? <a href="{% url 'login_view' %}">Log in</a></h3>
        {% endblock %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
